*{
    margin: 0;
    padding: 0;
}
.navbar-bg-colore{
    background-color: #303030;
}
.sec-one-text{
    display: flex;
    
    justify-content: space-between;
   
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    margin: 10px;
    align-items: center;
}
/* /..................................................section-1.........................................................................................../ */
.bg-img-1{
    background-image:url(../img/sec-one-bg-img.png);
    background-size: cover;
    background-position: center;
}
.sec-1-heding{
    color: white;
    
    
}